@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

div {
    /* border: 1px solid red; */
/*     background-color: chartreuse; */
}
p {
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    font-size: 12px;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
}
.grid {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 400px;
    position: relative;
    z-index: 5;
    box-shadow: 0px 12px 5px -5px grey;
}
.grid-back {
    grid-column: 1 / 5;
    grid-row: 1;
    align-self: center;
    place-self: start end;
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    opacity: .8;
}
.grid-shadow {
    box-shadow: 10px 10px 10px 10px grey;
}
/* .grid-logo {
    display: flex;
    align-self: center;
    place-self: right;
    width: 300px;
    height: auto;
    position: absolute;
    z-index: 3;
} */
/* .text-logo {
    font-size: 150px;
    align-self: center;
    place-self: center;
    position: absolute;
} */
.header {
    display: grid;
    grid-template-columns: [side]10vw 16vw 16vw 16vw 16vw 16vw [side]10vw ;
    grid-template-rows: 100px;
    position: relative;
    align-items: center;
    place-items: center;
}
.item-header-left {
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-left: 0px solid black;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    border-radius: 10px 0px 0px 10px;
}
.item-header-center {
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    border-radius: 0px 0px 0px 0px;
}
.item-header-right {
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-right: 0px solid black;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    border-radius: 0px 10px 10px 0px;
}
.side-header {
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.menue {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
    align-self: center;
    font-style: normal;
}
.valyou-icon {
    float: left;
    text-align: center;
    width: 40px;
    height: auto;
}
.spacesaver {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 50px 50px;
    /* border: 1px solid blue; */
}
.main-spacer{
    background-color: #faa56a;
}
.main-frame {
    display: grid;
    grid-template-columns: 5vw 5vw 40vw 40vw 5vw 5vw;
    grid-template-rows: 50px 50px auto 50px 50px;
    grid-gap: 0px;
}
.main-frame img {
    grid-column: 2;
    grid-row: 1 / -3;
    width: auto;
    height: 700px;
    text-align: center;
    
}
.main-frame p {
    place-items: center;
    align-items: start;
    font-size: 1.2em;
    width: 40vw;
    text-align: justify;
    padding: 30px;
}
.content-frame {
    background-color: #faa56a;
}
.side-frame {
    background-color: transparent;
}
.border-frame {
    background-color: #faa56a;
}
.border-leftup {
    background-color: #faa56a;
    border-radius: 0px 0px 0px 0px;
}
.border-rightup {
    background-color: #faa56a;
    border-radius: 0px 30px 0px 0px;
}
.border-rightdown {
    background-color: #faa56a;
    border-radius: 0px 0px 0px 0px;
}
.border-leftdown {
    background-color: #faa56a;
    border-radius: 0px 0px 0px 30px;
}
.event-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.gotoevent {
    background-color: #42a6a4;
}
.pre-footer {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 150px 150px;
    background-color: #1c1c1c;
}
.pre-footer-side {
    background-color: #1c1c1c;
}
.pre-footer-side2 {
    background-color: white;
}
.pre-footer-top {
    background-color: #faa56a;
    border-radius: 20px 20px 0px 0px;
}
.pre-footer-back {
    background-color: white;
}
.pre-footer-buttom {
    background-color: #42a6a4;
    border-radius: 0px 0px 20px 20px;
}
.motivation {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
}
.footer {
    display: grid;
    grid-template-columns: 10vw 23vw 23vw 34vw 10vw;
    grid-template-rows: 120px 200px;
    background-color: #1c1c1c;
    border: 1px solid white;
}
.footer-text-head {
    font-size: 40px;
    font-weight: bold;
    color: white;
    place-items: center;
    align-items: start;
    text-align: justify;
    width: 34vw;
    padding: 10px;
}
.footer-text-body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    place-items: left;
    align-items: left;
    text-align: left;
    width: 34vw;
    padding: 10px;
}
.line {
    text-align: left;
    width: 100%;
    border-width: 2px;
}
.icon {
   color: white;
   font-size: 40px;
   padding-left: 10px;
   text-align: left;
}